<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.StudentMapper">
	
	<select id="findAll" resultType="com.xiaoshu.vo.StudentVo" parameterType="com.xiaoshu.entity.Student">
		SELECT
		s.*,c.cname
		FROM
		student s,course c
		<where>
			s.courseid=c.id
			<if test="sname!=null and sname!=''">
				and s.sname like '%${sname}%'
			</if>
		</where> 
	</select>
	
	<select id="tongji" resultType="com.xiaoshu.vo.StudentVo" >
		SELECT
		COUNT(s.id) AS num,
		c.cname
		FROM
		student s,course c
		WHERE
		s.courseid=c.id
		GROUP BY c.id
		
	</select>

</mapper>